<head>
    <style>
        body {
            font-family: Helvetica;
        }
    </style>
</head>
<body>
    While listening to lectures, try the following:
    <p>
    <strong>T</strong>une into the speaker.<br>
    <strong>R</strong>ecap what you already know about the subject.<br>
    <strong>A</strong>sk yourself what the main ideas are.<br>
    <strong>P</strong>ut main ideas in your own words (chunk or chuck).<br>
    </p>
    <p>
    For more detailed instructions, visit the Attention Monitoring Website:
    <p>
    <a href="https://sites.google.com/a/g.ucla.edu/effect-of-self-monitoring-on-attention/focusing-strategies-for-lectures">Attention Monitoring Study Reading Strategies</a>
    </p>
    <hr>
    If you any questions, please contact Katharine Gibson:
    <p>
    <a href="mailto:kgibsondayan@ucla.edu">kgibsondayan@ucla.edu</a>
    </p>
<body>