<head>
<style>
    body {
        font-family: Helvetica;
    }
</style>
</head>
<body>
    While reading, try the following:
<p>
<strong>R</strong>ead one or two paragraphs.<br>
<strong>A</strong>sk yourself what the main ideas are.<br>
<strong>P</strong>ut the main ideas in your own words.<br>
<strong>S</strong>ummarize every ten paragraphs or so.<br>
</p>
<p>
For more detailed instructions, visit the Attention Monitoring Website:
<p>
<a href="https://sites.google.com/a/g.ucla.edu/effect-of-self-monitoring-on-attention/focusing-strategies-for-reading">Attention Monitoring Study Reading Strategies</a>
</p>
<hr>
If you any questions, please contact Katharine Gibson:
<p>
<a href="mailto:kgibsondayan@ucla.edu">kgibsondayan@ucla.edu</a>
</p>
<body>